<div class="container text-center mt-5">
    <h1 class="fw-bold">🚀 Sistema CRUD</h1>
    <p class="lead">Gestión de productos con autenticación</p>

    <a class="btn btn-primary btn-lg mt-3" asp-controller="Productos" asp-action="Index">
        Ir a Productos
    </a>
</div>