@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-white fw-semibold"
               asp-area="Identity"
               asp-page="/Account/Manage/Index"
               title="Manage">
                👋 Hola @User.Identity?.Name
            </a>
        </li>

        <li class="nav-item">
            <form asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home")">

                <button type="submit"
                        class="btn btn-sm btn-danger ms-2">
                    🔒 Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-light me-2"
               asp-area="Identity"
               asp-page="/Account/Register">
                📝 Register
            </a>
        </li>

        <li class="nav-item">
            <a class="btn btn-success"
               asp-area="Identity"
               asp-page="/Account/Login">
                🔑 Login
            </a>
        </li>
    }

</ul>